html, body {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: sans-serif, 'Open Sans';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background: #007acc;
    color: #fff;
    padding: 1px;
    text-align: center;
  }
  
  nav a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 0.5em 1em;
    gap: 1em;
  }
  
  nav a.active,
  nav a:hover{
    background-color: #89a9d4;
    border-radius: 5px;
  }
  
  main {
    flex: 1;
    padding: 20px;
    background: white;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #007acc;
    color: white;
  }
  
  .intro-tips {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.1em;
  }
  
  .tips-list {
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    background: #e0f0ff;
    text-align: justify;
  }
  
  .tips-list h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .tips-list ul {
    list-style: none;
    padding: 0;
  }
  
  .tips-list li {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  /* Login form styling */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px; /* sudut melingkar */
    transition: 0.2s;
  }
  
  .login-form input:focus {
    border-color: #007acc;
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.3);
    outline: none;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 20px; /* tombol bulat lembut */
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-form button:hover {
    background-color: #005f99;
  }
  
  .register-text {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
  }
  
  .register-text a {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-text a:hover {
    text-decoration: underline;
  }
  